@import "tailwindcss";
@config "../tailwind.config.js";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@plugin "../tailwind.plugin.ts";

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

:root {
  --bg: rgba(236, 247, 255, 1);
  --blue-100: rgba(205, 235, 255, 1);
  --blue-200: rgba(141, 208, 255, 1);
  --cerulean-blue: rgba(0, 122, 255, 1);
  --color-primary: rgba(51, 66, 91, 1);
  --color-secondary: rgba(171, 181, 197, 1);
  --green: rgba(40, 128, 111, 1);
  --grey-100: rgba(245, 245, 245, 1);
  --grey-1000: rgba(17, 17, 17, 1);
  --grey-200: rgba(230, 230, 230, 1);
  --grey-300: rgba(217, 217, 217, 1);
  --grey-400: rgba(179, 179, 179, 1);
  --grey-500: rgba(117, 117, 117, 1);
  --grey-600: rgba(68, 68, 68, 1);
  --grey-700: rgba(56, 56, 56, 1);
  --grey-800: rgba(44, 44, 44, 1);
  --grey-900: rgba(30, 30, 30, 1);
  --red: rgba(178, 22, 52, 1);
  --white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-image-glow {
  animation: image-glow 2s infinite;
}

@keyframes pulse-hover {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.pulse-on-hover {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.group:hover .pulse-on-hover {
  animation: pulse-hover 0.8s infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {

  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:active,
select:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Firefox autofill */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  -moz-text-fill-color: #fff !important;
}

.glass {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px) !important;
  /* background: rgba(255, 255, 255, 0.1); */
  /* semi-transparent for glass */
  border-radius: 1rem;
  /* rounded-3xl */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

@layer base {
  body {
    @apply antialiased subpixel-antialiased font-sf-pro bg-no-repeat bg-cover bg-top min-h-full;
    /* background-image: url('./assets/Bg.png'); */
  }

  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none focus:outline-none focus:ring-0;
  }
}

@layer components {
  .text-inter-xs {
    @apply font-inter font-regular text-10 leading-14;
  }

  .text-inter-sm {
    @apply font-inter font-medium text-12 leading-16;
  }

  .text-arial-small {
    @apply font-arial font-regular text-12 leading-16 tracking-normal;
  }

  .text-heading-primary {
    @apply font-sf-pro font-bold text-15.6 tracking-tightest;
  }

  .display-large-uppercase {
    @apply font-sf-pro font-regular text-[23.54px] leading-[33.62px] tracking-[0.12em] text-center uppercase;
  }

  .heading-medium-bold {
    @apply font-sf-pro font-bold text-18 leading-20 tracking-tightest;
  }

  .heading-medium-semibold {
    @apply font-sf-pro font-semibold text-16 leading-20 tracking-tightest;
  }

  .heading-medium-regular {
    @apply font-sf-pro font-regular text-16 leading-20 tracking-tightest;
  }

  .label-bold-center {
    @apply font-sf-pro font-bold text-12 leading-16 tracking-tightest;
  }

  .label-small-regular {
    @apply font-sf-pro font-regular text-8 leading-12 tracking-normal;
  }

  .label-small-semibold {
    @apply font-sf-pro font-semibold text-[12.83px] leading-[15.68px] tracking-tightest;
  }

  .text-small-regular {
    @apply font-sf-pro font-regular text-12 leading-16 tracking-tightest;
  }

  .text-base-regular {
    @apply font-sf-pro font-regular text-18 leading-[15.68px] tracking-tightest;
  }

  .text-small-medium {
    @apply font-sf-pro font-medium text-12 leading-16 tracking-tightest;
  }

  .body-regular {
    @apply font-sf-pro font-regular text-14 leading-18 tracking-tightest;
  }

  .text-regular-bold {
    @apply font-sf-pro font-bold text-14 leading-18 tracking-tightest;
  }

  .text-small-bold {
    @apply font-sf-pro font-bold text-12 leading-16 tracking-tightest;
  }

  .btn-text-regular {
    @apply font-sf-pro font-regular text-12 leading-16 tracking-tightest;
    vertical-align: middle;
  }

  .tabs-heading-semi {
    @apply font-sf-pro font-semibold text-14 leading-18 tracking-tightest text-center;
  }

  .glass-panel {
    @apply backdrop-blur-[12px] border border-white/20 shadow-glass-nav bg-white/10;
  }

  .glass-card {
    @apply backdrop-blur-[12px] border border-brand-blue-border-shade rounded-[12px] shadow-sm;
  }

  .page-header-heading {
    @apply text-xl font-semibold text-center tracking-wide mb-6;
  }

}